/* Enter your custom styles here */
panel {
    background-color: blue;
    z-index: 2;
    position: relative;
}

.sapUiTableExt>.sapMTB{
    background: white !important;
}

.activeRow {
    background-color: #e1ebf3 !important;
}